#header{
    background-color: #99BC85;
    }

.navbar{
  display: flex;
   
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  height: 60px; 

}
.navbar h1{
  display: flex;
}

.nav-links{
    display: flex;
    gap:24px;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    text-decoration: none;
    color: #151515;
    
}

.menu-toggle{
  display: none;
}
.menu-btn{
  display: none;
  font-size: 24px;
  cursor: pointer;
}

.logo{
    max-height:120px;
    width:120px;
    font-weight: bold;
}
@media only screen and (max-width: 768px){
    
      
        
      
        .menu-btn{
            display: flex;
      }
      .nav-links{
        background-color: #f0f0f0;
        display: none;
        flex-direction: column;
        position: absolute;
        top: 72px;
        left: 0;
        width: 100%;
        padding: 5px;
      }
        .menu-toggle:checked~ .nav-links{
          display: flex;
        }
      
      .logo{
        display: flex;
        flex-direction:left;
        
        max-width: 100%;
        
      }
      
      .navbar{
  display: flex;
   
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  height: 60px; 
        gap: 30px;
}
      
    }
      
    
